* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-size: 62.5%;
  box-sizing: border-box;
}

.nav {
  margin: 4rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .nav__logo {
    width: 25%;
  }
}
@media (max-width: 960px) {
  .nav {
    margin: 2rem;
  }
}
.nav__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20rem;
}
@media (max-width: 600px) {
  .nav__list {
    width: 55%;
  }
}

.header {
  display: grid;
  grid: max-content max-content/1fr 1fr;
  margin: 4rem;
}
@media (max-width: 960px) {
  .header {
    margin: 2rem;
    row-gap: 1.5rem;
  }
}
@media (max-width: 800px) {
  .header {
    grid: auto/calc(100vw - 4rem);
  }
}
.header__text-box {
  align-self: center;
}
.header__text-box--heading {
  margin-bottom: 1rem;
}
.header__button-box {
  grid-column: 1/2;
  grid-row: 2/3;
}
@media (max-width: 800px) {
  .header__button-box {
    grid-row: 3/4;
    display: grid;
    justify-items: center;
  }
  .header__button-box > * {
    display: block;
  }
}
.header__input {
  height: 2.5rem;
  width: 45%;
  margin-right: 1rem;
}
@media (max-width: 800px) {
  .header__input {
    margin-right: 0;
    width: 90%;
    margin-bottom: 1rem;
    padding-left: 37%;
  }
}
.header__button {
  height: 2.5rem;
  width: 30%;
}
@media (max-width: 800px) {
  .header__button {
    width: 90%;
  }
}
.header__img-box {
  grid-row: 1/-1;
}
.header__img {
  width: 100%;
  height: 100%;
}

.main {
  margin: 4rem 0 0;
  background-image: url(images/bg-curve-desktop.svg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.3rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
}
@media (max-width: 960px) {
  .main {
    row-gap: 0.5rem;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .main {
    grid: auto/calc(100vw - 6rem);
    row-gap: 2rem;
  }
}
.main > *:not(:last-child) {
  margin-left: 4rem;
}
@media (max-width: 960px) {
  .main > *:not(:last-child) {
    margin-left: 2rem;
  }
}
@media (max-width: 800px) {
  .main > *:not(:last-child) {
    margin-left: 0;
  }
}
.main__header {
  margin-top: 4rem;
}
@media (max-width: 800px) {
  .main__header {
    text-align: center;
  }
}
.main__img-box {
  grid-column: 2/3;
  grid-row: 1/span 5;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .main__img-box {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 2rem;
  }
}
.main__img {
  width: 90%;
  height: 90%;
}
@media (max-width: 800px) {
  .main__img {
    width: 100%;
    height: 100%;
  }
}
.main__link-box {
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
}
@media (max-width: 800px) {
  .main__link-box {
    justify-self: center;
  }
}
.main__testimonial {
  width: 20rem;
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 4rem;
  display: grid;
  row-gap: 0.8rem;
}
@media (max-width: 800px) {
  .main__testimonial {
    justify-self: center;
  }
}
.main__testimonial--profile-box {
  height: 3.2rem;
  display: grid;
  grid: 1fr 1fr/3.2rem 1fr;
}
.main__testimonial--profile-box .user-photo {
  grid-row: 1/3;
  align-self: center;
}
.main__testimonial--profile-box .user-name {
  align-self: end;
}

.section {
  padding: 3.5rem 3rem;
  display: grid;
  grid: auto/1fr 1fr;
  -moz-column-gap: 12%;
       column-gap: 12%;
  row-gap: 2rem;
}
@media (max-width: 960px) {
  .section {
    padding: 3.5rem 2rem;
  }
}
@media (max-width: 800px) {
  .section {
    grid: auto/calc(100vw - 4rem);
  }
}
.section form {
  grid-row: 1/3;
  grid-column: 2/3;
}
@media (max-width: 800px) {
  .section form {
    grid-row: 3/4;
    grid-column: 1/2;
  }
}
.section__paragraph {
  grid-column: 1/2;
}
@media (max-width: 800px) {
  .section__paragraph {
    text-align: center;
  }
}

.footer {
  padding: 4rem;
  display: grid;
  row-gap: 2rem;
}
@media (max-width: 960px) {
  .footer {
    padding: 2rem;
  }
}
.footer__nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8%;
  align-items: center;
}
@media (max-width: 700px) {
  .footer__nav {
    grid-auto-flow: row;
    row-gap: 3rem;
  }
}
.footer__nav--contact-box > * {
  display: grid;
  grid-template-columns: max-content 1fr;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  grid-auto-flow: column;
}
.footer__nav--contact-box > *:not(:last-child) {
  align-self: end;
}
.footer__nav > *:not(:last-child) {
  display: grid;
  grid-gap: 1rem;
}

:root {
  --blue: hsl(238, 22%, 44%);
  --dblue: hsl(243, 87%, 12%);
  --bblue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --lgrey: hsl(0, 0%, 75%);
  --lgblue: hsl(240, 75%, 98%);
}

.nav__list--item {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  text-decoration: none;
  list-style: none;
  transition: all 0.1s;
}
.nav__list--item:hover, .nav__list--item:active {
  padding: 0.8rem;
  background-color: rgba(119, 115, 115, 0.1);
  transform: translateY(-3px);
}
.nav__list--item a:link {
  text-decoration: none;
}

@media (max-width: 800px) {
  .header__text-box {
    text-align: center;
  }
}
.header__text-box--heading {
  line-height: 1.5;
}

.main {
  font-family: "Raleway", sans-serif;
}
.main__link-box--link:link {
  font-size: 1rem;
  color: var(--cyan);
  margin-right: 0.5rem;
}
.main__testimonial {
  box-shadow: 2px 2px 0.5rem rgba(0, 0, 0, 0.1);
}
.main__testimonial--profile-box .user-photo {
  width: 2rem;
  border-radius: 100%;
}
.main__testimonial--profile-box .user-name {
  font-weight: bold;
  font-size: 0.8rem;
}
.main__testimonial--profile-box .user-role {
  font-size: 0.6rem;
}

.section {
  background-color: var(--blue);
  color: #fff;
}
@media (max-width: 800px) {
  .section__header {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .section form {
    display: grid;
    justify-items: center;
  }
}
.section__input {
  width: 60%;
  height: 2.5rem;
  display: block;
  margin-bottom: 1rem;
  padding-left: 0.8rem;
}
@media (max-width: 800px) {
  .section__input {
    width: 90%;
    padding-left: 35%;
  }
}
.section__button {
  height: 2.5rem;
  width: 30%;
}
@media (max-width: 800px) {
  .section__button {
    width: 90%;
  }
}

.footer {
  background-color: var(--dblue);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: var(--lgrey);
}
.footer__nav--list-item {
  list-style: none;
}
.footer__nav--list-link {
  text-decoration: none;
  color: currentColor;
  font-size: 0.8rem;
}
.footer__nav--social-media-icon {
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  box-sizing: content-box;
  padding: 3px;
  border: #fff 1px solid;
  border-radius: 100%;
}

.heading-1 {
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.paragraph {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.small {
  font-size: 0.8rem;
}

.button {
  border: none;
  background-color: var(--bblue);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.button:hover {
  cursor: pointer;
  background-color: #1853f7;
}

.input:focus {
  border: none;
  outline: none;
  font-family: "Raleway", sans-serif;
}/*# sourceMappingURL=style.css.map */